* {
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;

    position: relative;
    
    overflow: hidden;
    overflow-y: initial;
}

select.form-control {
    padding-left: 6px !important;
}

.navbar-header {
    width: 100%;
}

.table-style {
    table-layout: fixed;
    white-space: nowrap;
}

.table-style th.table-icon,
.table-style td.table-icon {
    width: 30px;
    white-space: nowrap;
}

.table-style th.table-title,
.table-style td.table-title {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-style th.table-url,
.table-style td.table-url {
    width: calc(100% - 580px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-style th.table-date,
.table-style td.table-date {
    width: 150px;
    white-space: nowrap;
}